<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyCommunity</title>
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital@1&family=Sacramento&family=Ubuntu&display=swap"
    rel="stylesheet">

  <!-- CSS Stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="frontend/css/home.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>





  <link rel="stylesheet" href="../public/sales.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

    <style>

      body {
      
      font-family: 'Montserrat';
      }
     
      
      #title {
      
      /* background: linear-gradient(to right, #3498db, #2ecc71); */
      background: linear-gradient(to right, #9b59b6, #e74c3c);
      
      
      color: #fff;
      }
      
      .container-fluid {
      padding: 1% 1% 1%;
      }
      
      h1 {
      font-family: 'Montserrat-black';
      font-size: 3.5rem;
      line-height: 1.5;
      }
      
      h2 {
      font-family: " montserrat-bold";
      font-size: 3rem;
      line-height: 3rem;
      
      }
      
     
      
      .col-lg-6 {
      position: relative;
      }
      

      h1 {
      font-size: 3.0rem;
      }
      
      h3 {
      font-family: "montserrat-bold";
      font-size: 1.5rem;
      }
      
      p {
      color: #8f8f8f;
      }
     
      
      
      .navbar-brand {
      font-family: "ubuntu";
      font-size: 2.0rem;
      font-weight: bold;
      
      }
      
      .nav-item {
      top:0px;
   
      }
      
      .nav-link {
      font-size: 1.2rem;
      font-family: "montserrat-light";
      }
      
    
      /* Footer */
      #footer {
      padding: 2% 2% 2% 1%;
      text-align: center;
      background: linear-gradient(to right, #9b59b6, #e74c3c);
      }
      
      .contact-f {
      color: black;
      }
      
      .x {
      margin: auto 0.5% auto;
      }
      
:root {

  
  --dark-jungle-green: hsl(188, 63%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --pink-soda: #ff4c68;
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);


  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --transition: 0.25s ease;


  --section-padding: 100px;


  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);

}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
button,
ion-icon { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

address { font-style: normal; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-nunito-sans);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track { background: var(--white); }

::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border-left: 2px solid var(--white);
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

button, a { transition: var(--transition); }

.h1,
.h2,
.h3 {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1;
}

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-4);
  font-weight: var(--font-weight, 700);
}

.h3 > a { color: inherit; }

.btn {
  position: relative;
  background: var(--pink-soda);
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  text-transform: var(--text-transform, capitalize);
  border: 1px solid var(--pink-soda);
  padding: 10px 20px;
  z-index: 1;
}

.btn:is(:hover, :focus) {
  background: var(--black);
  color: var(--dark-jungle-green);
  border-color: var(--black);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--white);
  transition: var(--transition);
  z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 100%; }

.w-100 { width: 100%; }

.section-subtitle {
  color: var(--pink-soda);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  padding: 5px 20px;
  background: hsla(9, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-title {
  text-align: var(--text-align, center);
  margin-bottom: var(--margin-bottom, 50px);
}

.card-badge {
  background: var(--black);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
}

.card-badge.green { background: var(--yellow-green); }

.card-badge.pink { background: var(--pink-soda); }

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--cultured-2);
  outline: 2px solid var(--cadet);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border: 1px solid var(--cultured-2);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }


/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.hero-content { margin-bottom: 60px; }

.hero-subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.hero-subtitle ion-icon { color: var(--pink-soda); }

.hero-subtitle span {
  color: var(--dark-jungle-green);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.hero-title { margin-bottom: 20px; }

.hero-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  padding-left: 15px;
  border-left: 1px solid;
  margin-bottom: 30px;
}


.property { padding-block: var(--section-padding); }

.property-card {
  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);
}

.property-card .card-banner {
  position: relative;
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
}

.property-card .card-banner a { height: 100%; }

.property-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.property-card:hover .card-banner img { transform: scale(1.1); }

.property-card .card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.95), transparent 30%);
  pointer-events: none;
  z-index: 1;
}

.property-card .banner-actions {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 15px 10px;
  z-index: 1;
}

.banner-actions-btn {
  color: var(--white);
  font-size: var(--fs-6);
  line-height: 1;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.banner-actions-btn ion-icon { font-size: 16px; }

.banner-actions-btn:first-child { margin-right: auto; }

.banner-actions-btn:is(:hover, :focus) { color: var(--pink-soda); }

.property-card .card-content {
  padding: 30px 15px 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.card-price {
  color: var(--pink-soda);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  margin-bottom: 5px;
}

.card-price strong {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.property-card .card-title {
  --font-weight: var(--fw-600);
  margin-bottom: 15px;
}

.property-card .card-title > a:is(:hover, :focus) { color: var(--pink-soda); }

.property-card .card-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.property-card .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 15px;
}

.property-card .card-item {
  padding-block: 5px;
  color: var(--cadet);
  font-size: var(--fs-5);
}

.property-card .card-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-right: 20px;
}

.property-card .card-item :is(strong, ion-icon) { display: inline-block; }

.property-card .card-item ion-icon {
  margin-left: 2px;
  margin-bottom: -2px;
}

.property-card .card-item span { margin-top: 5px; }

.card-footer {
  padding: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.author-name > a {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-bottom: 3px;
}

.author-name > a:is(:hover, :focus) { color: var(--pink-soda); }

.author-title {
  color: var(--cadet);
  font-size: var(--fs-7);
}

.card-footer-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-footer-actions-btn {
  background: var(--cultured-2);
  color: var(--cadet);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.card-footer-actions-btn:is(:hover, :focus) {
  background: var(--pink-soda);
  color: var(--white);
}





/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.features-list > li { width: calc(50% - 10px); }

.features-card {
  position: relative;
  background: var(--white);
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: var(--shadow-1);
}

.features-card:is(:hover, :focus) { background: var(--pink-soda); }

.features-card .card-icon {
  background: var(--seashell);
  color: var(--pink-soda);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.features-card .card-icon ion-icon { --ionicon-stroke-width: 20px; }

.features-card .card-title {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  text-align: center;
  transition: var(--transition);
}

.features-card:is(:hover, :focus) .card-title { color: var(--white); }

.features-card .card-btn {
  background: var(--white);
  color: var(--cadet);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(219, 56%, 21%, 0.1);
  transition: var(--transition);
}

.features-card:is(:hover, :focus) .card-btn { color: var(--pink-soda); }





@media (min-width: 600px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 1.875rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has-scrollbar > li { min-width: calc(50% - 12.5px); }





  /**
   * PROPERTY
   */

  .property .container {
    max-width: unset;
    padding-inline: 25px;
  }



  

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }




  /**
   * HERO
   */

  .hero-content { max-width: 400px; }



  /**
   * FEATURES
   */

  .features-list > li { width: calc(33.33% - 13.33px); }

  .features-card { gap: 20px; }

  .features-card .card-icon {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .features-card .card-title { --fs-6: 1.125rem; }



  /**
   * FOOTER
   */

  .footer { margin-bottom: 0; }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 3.125rem;
    --fs-4: 1.375rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 970px; }

  .btn { padding: 15px 40px; }





  /**
   * HERO
   */

  .hero-content {
    max-width: unset;
    margin-bottom: 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }




  .about-banner { margin-bottom: 0; }

  .about-banner > img { width: 100%; }





  /**
   * PROPERTY
   */

  .property-card .card-content { padding-inline: 30px; }

  .card-footer { padding: 20px 30px 30px; }



  /**
   * FEATURES
   */

  .features-list { column-gap: 30px; }

  .features-list > li { width: calc(25% - 30px); }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-brand {
    max-width: 300px;
    margin-bottom: 0;
  }

  .footer-link-box { flex-basis: 550px; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 2.75rem;
    --fs-4: 1.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }



  @keyframes slideDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }



  /**
   * HERO
   */

  .hero-text {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
  }



  /**
   * FEATURES
   */

  .features-card .card-icon {
    width: 100px;
    height: 100px;
    font-size: 45px;
  }

  .features-card .card-title { --fs-6: 1.375rem; }






  /**
   * FOOTER
   */

  .footer { --fs-5: 1rem; }

  .footer-link-box { flex-basis: 700px; }

}
      </style>
</head>





<body>

  <section id="title">
    <div class="container-fluid">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">MyCommunity</a>
        

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ms-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event">Events &amp; Issues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createProfile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getProfiles">Members</a>
            </li>
          </ul>
        </div>
      </nav>

      </div>
      </section>


  <main>
    <article>
      <!-- <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <ion-icon name="home"></ion-icon>

              <span>Real Estate Agency</span>
            </p>

            <h2 class="h1 hero-title">Find Your Dream House By Us</h2>

            <p class="hero-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </p>

            <button class="btn">Make An Enquiry</button>

          </div>

          <figure class="hero-banner">
            <img src="images/hero-banner.png" alt="Modern house model" class="w-100">
          </figure>

        </div>
      </section> -->
       
      <section class="property" id="property">
        <div class="container">

          <p class="section-subtitle">Properties</p>

          <h2 class="h2 section-title">Featured Listings</h2>

          <ul class="property-list has-scrollbar">


            <% rooms.forEach(room => { %>
            <li>
              <div class="property-card">
            
                <figure class="card-banner">
            
                  <a href="#">
                    <img src="images/property-1.jpg" alt="New Apartment Nice View" class="w-100">
                  </a>
            
                  <div class="card-badge green">For Rent</div>
            
                  <div class="banner-actions">
            
                    <button class="banner-actions-btn">
                      <ion-icon name="location"></ion-icon>
            
                      <address>Belmont Gardens, Chicago</address>
                    </button>
            
                    <button class="banner-actions-btn">
                      <ion-icon name="camera"></ion-icon>
            
                      <span>4</span>
                    </button>
            
                    <button class="banner-actions-btn">
                      <ion-icon name="film"></ion-icon>
            
                      <span>2</span>
                    </button>
            
                  </div>
            
                </figure>
            
                <div class="card-content">
            
                  <div class="card-price">
                    <strong>&#8377; <%= room.price %> </strong>/Month
                  </div>
            
                  <h3 class="h3 card-title">
                    <a href="#"><%= room.title %></a>
                  </h3>
            
                  <p class="card-text">
                  <%= room.description %>
                  </p>
            
                  <ul class="card-list">
            
                    <li class="card-item">
                      <strong><%= room.bedrooms  %></strong>
            
                      <ion-icon name="bed-outline"></ion-icon>
            
                      <span>Bedrooms</span>
                    </li>
            
                    <li class="card-item">
                      <strong><%= room.bathrooms%></strong>
            
                      <ion-icon name="man-outline"></ion-icon>
            
                      <span>Bathrooms</span>
                    </li>
            
                    <li class="card-item">
                      <strong><%= room.squareFeet %></strong>
            
                      <ion-icon name="square-outline"></ion-icon>
            
                      <span>Square Ft</span>
                    </li>
            
                  </ul>
            
                </div>
            
                <div class="card-footer">
            
                  <div class="card-author">
            
                    <figure class="author-avatar">
                      <img src="images/author.jpg" alt="William Seklo" class="w-100">
                    </figure>
            
                    <div>
                      <p class="author-name">
                        <a href="#"><%= room.agent.name %></a>
                      </p>
            
                      <p class="author-title"><%= room.agent.contact %></p>
                    </div>
            
                  </div>
            
                  <div class="card-footer-actions">
            
                    <button class="card-footer-actions-btn">
                      <ion-icon name="resize-outline"></ion-icon>
                    </button>
            
                    <button class="card-footer-actions-btn">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
            
                    <button class="card-footer-actions-btn">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </button>
            
                  </div>
            
                </div>
            
              </div>
            </li>
            <% }) %>

            



            <li>
              <div class="property-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="images/property-3.jpg" alt="Comfortable Apartment" class="w-100">
                  </a>

                  <div class="card-badge green">For Rent</div>

                  <div class="banner-actions">

                    <button class="banner-actions-btn">
                      <ion-icon name="location"></ion-icon>

                      <address>Belmont Gardens, Chicago</address>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="camera"></ion-icon>

                      <span>4</span>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="film"></ion-icon>

                      <span>2</span>
                    </button>

                  </div>

                </figure>

                <div class="card-content">

                  <div class="card-price">
                    <strong>$34,900</strong>/Month
                  </div>

                  <h3 class="h3 card-title">
                    <a href="#">Comfortable Apartment</a>
                  </h3>

                  <p class="card-text">
                    Beautiful Huge 1 Family House In Heart Of Westbury. Newly Renovated With New Wood
                  </p>

                  <ul class="card-list">

                    <li class="card-item">
                      <strong>3</strong>

                      <ion-icon name="bed-outline"></ion-icon>

                      <span>Bedrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="man-outline"></ion-icon>

                      <span>Bathrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>3450</strong>

                      <ion-icon name="square-outline"></ion-icon>

                      <span>Square Ft</span>
                    </li>

                  </ul>

                </div>

                <div class="card-footer">

                  <div class="card-author">

                    <figure class="author-avatar">
                      <img src="images/author.jpg" alt="William Seklo" class="w-100">
                    </figure>

                    <div>
                      <p class="author-name">
                        <a href="#">William Seklo</a>
                      </p>

                      <p class="author-title">Estate Agents</p>
                    </div>

                  </div>

                  <div class="card-footer-actions">

                    <button class="card-footer-actions-btn">
                      <ion-icon name="resize-outline"></ion-icon>
                    </button>

                    <button class="card-footer-actions-btn">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="card-footer-actions-btn">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </button>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="property-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="images/property-4.png" alt="Luxury villa in Rego Park" class="w-100">
                  </a>

                  <div class="card-badge green">For Rent</div>

                  <div class="banner-actions">

                    <button class="banner-actions-btn">
                      <ion-icon name="location"></ion-icon>

                      <address>Belmont Gardens, Chicago</address>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="camera"></ion-icon>

                      <span>4</span>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="film"></ion-icon>

                      <span>2</span>
                    </button>

                  </div>

                </figure>

                <div class="card-content">

                  <div class="card-price">
                    <strong>$34,900</strong>/Month
                  </div>

                  <h3 class="h3 card-title">
                    <a href="#">Luxury villa in Rego Park</a>
                  </h3>

                  <p class="card-text">
                    Beautiful Huge 1 Family House In Heart Of Westbury. Newly Renovated With New Wood
                  </p>

                  <ul class="card-list">

                    <li class="card-item">
                      <strong>3</strong>

                      <ion-icon name="bed-outline"></ion-icon>

                      <span>Bedrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="man-outline"></ion-icon>

                      <span>Bathrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>3450</strong>

                      <ion-icon name="square-outline"></ion-icon>

                      <span>Square Ft</span>
                    </li>

                  </ul>

                </div>

                <div class="card-footer">

                  <div class="card-author">

                    <figure class="author-avatar">
                      <img src="images/author.jpg" alt="William Seklo" class="w-100">
                    </figure>

                    <div>
                      <p class="author-name">
                        <a href="#">William Seklo</a>
                      </p>

                      <p class="author-title">Estate Agents</p>
                    </div>

                  </div>

                  <div class="card-footer-actions">

                    <button class="card-footer-actions-btn">
                      <ion-icon name="resize-outline"></ion-icon>
                    </button>

                    <button class="card-footer-actions-btn">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="card-footer-actions-btn">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </button>

                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #FEATURES
      -->

      <section class="features">
        <div class="container">

          <p class="section-subtitle">Our Aminities</p>

          <h2 class="h2 section-title">Building Aminities</h2>

          <ul class="features-list">

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="car-sport-outline"></ion-icon>
                </div>

                <h3 class="card-title">Parking Space</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="water-outline"></ion-icon>
                </div>

                <h3 class="card-title">Swimming Pool</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>

                <h3 class="card-title">Private Security</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="fitness-outline"></ion-icon>
                </div>

                <h3 class="card-title">Medical Center</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="library-outline"></ion-icon>
                </div>

                <h3 class="card-title">Library Area</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="bed-outline"></ion-icon>
                </div>

                <h3 class="card-title">King Size Beds</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="home-outline"></ion-icon>
                </div>

                <h3 class="card-title">Smart Homes</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="football-outline"></ion-icon>
                </div>

                <h3 class="card-title">Kid’s Playland</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

          </ul>

        </div>
      </section>
      
        <!-- Footer -->

  <footer id="footer">
    <p class="contact-f"><i class="x fa-brands fa-twitter"></i><i class="x fa-brands fa-facebook-f"></i> <i
        class="x fa-brands fa-instagram"></i><i class="x fa-solid fa-envelope"></i></p>
    <p>© Copyright ForumApp</p>

  </footer>





    

  

  <!-- 
    - custom js link
  -->
  <script src="../public/js/sales.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>